* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 40px;
    background: grey;
}
header > div {
    margin-left: 20px
}

section {
    width: 100%;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: black;
    overflow: scroll;
}

section > div {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    border: 4px solid grey;
}

.start-view {
    width: 328px;
    height: 288px;
}

.btn {
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    background: grey;
    padding: 5px
}
.show {
    display: flex;
}
